input{
    background-color: white;
    margin: 0px 10px 25px 10px;
    padding: 5px;
    border-radius: 10px;
}

body{
    background-color:antiquewhite;
}

h1{
    font-family: arial;
}

h3{
    font-family: arial;
    margin: 30px;
}

.login{
    display: flex;
   
}


