#pokedexList{
    font-family: arial;
    font-size: 20px;
    list-style: none;
    display: grid;
    font-weight: 550;
    grid-template-columns: 250px 250px 250px 250px 250px 250px;
    justify-content: center;
}

#btn{
    background-color: transparent;
    padding: 0.5px;
}

#pokLi{
    display: inline;
}

.pokebola{
    height: 30px;
    background-color: transparent;
}

body{
    background-color: rgb(43, 41, 41);
}

h1{
    font-family: arial;
    color: white;
    margin-bottom: 50px;
    margin-left: 60px;
}

h3{
    font-family: arial;
    margin: 30px;
    color: red;
}


img{
    height: 60px;
}

li{
    background-color: white;
    border-radius: 10px;
    max-height: 200px;
    margin-right: 10px;
    margin-bottom: 15px;
    color: black;
    margin-top: 10px;
}

a{
    margin-left: 23px;
    color:black;
    text-decoration: none;
}