#pokemonList{
    font-family: arial;
    font-size: 20px;
    list-style: none;
    color: white;
}

body{
    background-color: rgb(43, 41, 41);
}

h1{
    font-family: arial;
    color: white;
    margin-bottom: 50px;
    margin-left: 60px;
}

h3{
    font-family: arial;
    margin: 30px;
    color: white;
}

.login{
    display: flex;
   
}

li{
    background-image: url(../card_pok.png);
    max-height: 250px;
    max-width: 480px;
    padding-bottom: 100px;
    margin-bottom: 80px;
    border-radius: 15px;
}
