#aula10{
    background-color: rgb(207, 163, 216);
    width: 100%;
}

/* comando Media Query (@media), query= faz uma requisição midia= tipo de mídia*/

/*screen especifica que só será aplicado as telas*/
@media only screen and (max-width: 800px){
    #aula10{
        background-color: rgb(239, 250, 135);
        width: 100%;
    }
}

@media only screen and (max-width: 400px){
    #aula10{
        background-color: paleturquoise;
        width: 100%;
    }
}

/*Framework = conjunto de ferramentas para utilizar o css*/
/*npm - Node package Manager, instala pacotes*/